*~
*.pyc
*.sublime-*
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.alg
*.loa
*.lbl
*.idx
*.ilg
*.ind
*.ist
*.fd
*.cls
*.bst
*.bak
*.dtx
*-figure*.dpth
*-figure*.md5
*-figure*.pdf
*-figure*.dep
*.auxlock
*.dvi
*.nav
*.snm
*.vrb
*.pdf
_minted